<% valid_extensions = (
    ToGene::GenebankToGene.valid_file_extensions +
    ToGene::FastaToGene.valid_file_extensions
    ).join(",")

    id = html_compatible_enhancer_name(resource_name)
    legend =
        if is_cds_resource(resource_name)
            "Please enter or upload a sequence, or provide a gene ID."
        else
            "Please enter or upload a sequence."
        end

    maxlength_textinput = 10_000
    valid_textinput = "^(?:LOCUS|>\\S+)" # regex to validate start of string conforms to Genebank or Fasta header
    # slightly more accurate versions:
    # /^LOCUS[\S\s]+[\n\r]\/\/$/ # validates start & end of genebank
    # /^>\S+[\n\r][ATGCatgc\s]+$/ # validates entire fasta
%>

<%= form_for Enhancer.new, :url => {action: "create_enhancer"}, remote: true, html: { style: "display:inline;", role: "form", :multipart => true } do |f| %>

    <%= f.hidden_field :name, value: resource_name %>
    <%= f.hidden_field :commit, value: "" %>

    <h4>Enter <%= resource_name %>
        <small id="unsaved-data-<%= id %>" class="bg-success" style="display: none;">
            Please click "Save" when done with your sequence input.
        </small>
        <div class="pull-right control-group">
            <%# Use f.button instead of f.submit to change button-text later on%>
            <%= f.button "", value: "Save", type: "submit", class: "btn btn-primary btn-outline btn-xs", title: "Save #{resource_name} data", data: {toggle: "tooltip"}, disabled: true do %>
                Save
            <% end %>
            <%= f.submit "Reset", class: "btn btn-primary btn-outline btn-xs", title: "Delete #{resource_name} data", data: {toggle: "tooltip"}, disabled: true %>
        </div>
    </h4>

    <div class="container-fluid">
        <div class="row">
            <div id="error-alert-<%= id %>" class="alert alert-danger" role="alert" style="display: none;">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                <span id="error-alert-text-<%= id %>"></span>
            </div>
            <div id="success-alert-<%= id %>" class="alert alert-success" role="alert" style="display: none;">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                <span class="sr-only">Success:</span>
                Successfully read <%= resource_name %> sequence.
                <span id="success-alert-text-<%= id %>"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <legend class="text-primary">Enter Genebank or FASTA sequence</legend>
                <div class="form-group-validation">
                    <%= f.text_area :data, rows: 6, class: "form-control monospaced", placeholder: "Enter sequence", maxlength: maxlength_textinput, data: {valid: valid_textinput} %>
                    <small class="form-text text-muted">Complete Genebank or FASTA entries. FASTA entries must specify exons in upper case and introns in lower case.
                    </small>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <legend class="text-primary">Or, upload file</legend>
                    <div class="form-group-validation">
                        <%= f.file_field :file, accept: valid_extensions %>
                        <small class="form-text text-muted">Plain text file in Genbank or FASTA format.</small>
                    </div>
                </div>
                <% if is_cds_resource(resource_name) %>
                    <div class="row">
                        <legend class="text-primary">Or, enter Ensembl transcript ID</legend>
                        <div class="form-group-validation">
                            <%= text_field :ensembl, :gene_id, maxlength: EnsemblGene::MAX_LENGTH_GENEID, class: "form-control", placeholder: "ENST00000397262", data: {valid: EnsemblGene::FORMAT_GENEID_WEB, provide: "typeahead"}, autocomplete: "off" %>
                            <small class="form-text text-muted">Human Ensembl transcript ID, starting with 'ENST' followed by a series of digits.</small>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div id="multigene-info-container-<%= id %>"></div>
    <div class="form-group" id="multigene-options-<%= id %>"></div>
<% end %>