<%
    valid_chars = "[#{Dna.valid_nucleotides.join("")}]{#{Constants.min_motif_length},#{Constants.max_motif_length}}"
    valid_textinput = "^(#{valid_chars}[\\n\\r]+)*(#{valid_chars}){1}$"
%>

<%= f.hidden_field :commit, value: "" %>
<div class="container-fluid">
    <div class="row">
        <div id="error-alert-ese" class="alert alert-danger" role="alert" style="display: none;">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <span id="error-alert-text-ese"></span>
        </div>
        <div id="success-alert-ese" class="alert alert-success" role="alert" style="display: none;">
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
            <span class="sr-only">Success:</span>
            Successfully read ESE motifs.
            <span id="success-alert-text-ese"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <legend class="text-primary">Enter motifs</legend>
            <div class="form-group-validation">
                <%= f.text_area :data, rows: 6, class: "form-control monospaced", placeholder: "Enter motifs", maxlength: 2000, data: {valid: valid_textinput} %>
                <small class="form-text text-muted">DNA sequence motifs of <%= Constants.min_motif_length %>-<%= Constants.max_motif_length %> bases, one motif per line.</small>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <legend class="text-primary">Or, upload file</legend>
                <div class="form-group-validation">
                    <%= f.file_field :file, accept: ".txt" %>
                    <small class="form-text text-muted">Plain text file containing one motif per line.</small>
                </div>
            </div>
            <div class="row">
                <legend class="text-primary">Or, select dataset</legend>
                <%= select :ese, :dataset, options_for_select(["Please select", "INT3", "ESR", "Ke-ESE400", "PESE", "RESCUE-ESE"], selected: "Please select", disabled: "Please select"), {}, {class: "form-control"} %>
            </div>
        </div>
    </div>
</div>