<% valid_extensions = (
    ToGene::GenebankToGene.valid_file_extensions +
    ToGene::FastaToGene.valid_file_extensions
    ).join(",")
%>

<%= form_for @enhancer, remote: true, html: { style: "display:inline;", role: "form" } do |f| %>
    <div class="form-group">
        <%= f.hidden_field :name, value: resource_name %>
        <%= f.label :data, "Enter GeneID, Genebank or FASTA sequence", class:"control-label" %>
        <div class="pull-right control-group">
            <%= f.submit "Save", class: "btn btn-primary btn-xs", title: "Save data", data: {toggle: "tooltip"} %>
            <%= f.submit "Reset", class: "btn btn-primary btn-xs", title: "Delete data", data: {toggle: "tooltip"} %>
        </div>
        <%= f.text_area :data, class: "form-control", placeholder: "Enter sequence", maxlength: 2000 %>
    </div>
    <div id="<%= "text-alert" %>" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Reached maximum input size. Please use file upload instead.
    </div>
<% end %>
<%= form_for @enhancer, remote: true, html: { style: "display:inline;", role: "form", :multipart => true } do |f| %>
    <div class="field form-group">
        <%= f.hidden_field :name, value: resource_name %>
        <%= f.label :file, "Or, upload file" %>
        <%= f.file_field :file, accept: valid_extensions %>
    </div>
<% end %>
