<% valid_extensions = (
    ToGene::GenebankToGene.valid_file_extensions +
    ToGene::FastaToGene.valid_file_extensions
    ).join(",")

    id = html_compatible_enhancer_name(resource_name)
%>

<%= form_for Enhancer.new, remote: true, html: { style: "display:inline;", role: "form", :multipart => true } do |f| %>
    <div id="error-alert-<%= id %>" class="alert alert-danger" role="alert" style="display: none;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span id="error-alert-text-<%= id %>"></span>
    </div>

    <div class="form-group">
        <%= f.hidden_field :name, value: resource_name %>
        <%= f.hidden_field :commit, value: "" %>
        <%= f.label :data, "Enter Genebank or FASTA sequence", class:"control-label" %>
        <div class="pull-right control-group">
            <%= f.submit "Save", class: "btn btn-primary btn-xs", title: "Save data", data: {toggle: "tooltip"}, disabled: true %>
            <%= f.submit "Reset", class: "btn btn-primary btn-xs", title: "Delete data", data: {toggle: "tooltip"}, disabled: true %>
        </div>
        <%= f.text_area :data, rows: 8, class: "form-control monospaced", placeholder: "Enter sequence", maxlength: 2000 %>
        <small class="form-text text-muted">Complete Genebank or FASTA entries. Size is restricted to maximum 2,000 characters, larger data has to uploaded using the upload button below.</small>
    </div>
    <div class="form-group">
        <%= f.label :file, "Or, upload Genebank or FASTA file", class: "control-label" %>
        <%= f.file_field :file, accept: valid_extensions %>
    </div>
    <div class="form-group">
        <%= label :ensembl, :gene_id, "Or, enter Ensembl gene ID", class: "control-label" %>
        <!-- Assume the maximum length of a gene-id is 20 chars. -->
        <%= text_field :ensembl, :gene_id, maxlength: 20, size: 24 %>
        <br><small class="form-text text-muted">Input a human Ensembl gene ID, starting with "ENS" followed by a series of digits, e.g. ENSG00000254647</small>
    </div>
    <div id="multigene-info-container-<%= id %>"></div>
    <div class="form-group" id="multigene-options-<%= id %>"></div>
<% end %>
