<% valid_extensions = (
    ToGene::GenebankToGene.valid_file_extensions +
    ToGene::FastaToGene.valid_file_extensions
    ).join(",")

    id = html_compatible_enhancer_name(resource_name)
%>

<%= form_for Enhancer.new, remote: true, html: { style: "display:inline;", role: "form", :multipart => true } do |f| %>

    <div class="row">
        <div class="col-sm-10">
            <legend class="text-primary">Please input or upload a sequence, or provide a gene ID.</legend>
        </div>
        <div class="col-sm-2">
            <div class="pull-right control-group">
                <%= f.submit "Save", class: "btn btn-primary btn-xs", title: "Save data", data: {toggle: "tooltip"}, disabled: true %>
                <%= f.submit "Reset", class: "btn btn-primary btn-xs", title: "Delete data", data: {toggle: "tooltip"}, disabled: true %>
            </div>
        </div>
    </div>

    <div id="error-alert-<%= id %>" class="alert alert-danger" role="alert" style="display: none;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span id="error-alert-text-<%= id %>"></span>
    </div>

    <%= f.hidden_field :name, value: resource_name %>
    <%= f.hidden_field :commit, value: "" %>

    <div class="panel-group" id="accordion-<%= id %>">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-<%= id %>" href="#textarea-<%= id %>"><span data-toggle="tooltip" title="Click to expand">Enter Genebank or FASTA sequence</span></a>
                </h4>
            </div>
            <div id="textarea-<%= id %>" class="panel-collapse collapse in">
                <div class="panel-body">
                    <!-- omit div.form-group for optimal spacing in collapsible -->
                    <%= f.text_area :data, rows: 8, class: "form-control monospaced", placeholder: "Enter sequence", maxlength: 2000 %>
                    <small class="form-text text-muted">Complete Genebank or FASTA entries of maximum 2,000 characters. Larger data has to be uploaded using the file upload menu below. Sample input:
                    <br>>INS
                    <br>ATGGCCCTGTGGATGCGCCTCCTGCCCC...
                    </small>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-<%= id %>" href="#fileinput-<%= id %>"><span data-toggle="tooltip" title="Click to expand">Or, upload Genebank or FASTA file</span></a>
                </h4>
            </div>
            <div id="fileinput-<%= id %>" class="panel-collapse collapse">
              <div class="panel-body">
                    <%= f.file_field :file, accept: valid_extensions %>
              </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-<%= id %>" href="#textinput-<%= id %>"><span data-toggle="tooltip" title="Click to expand">Or, enter Ensembl gene ID</span></a>
                </h4>
            </div>
            <div id="textinput-<%= id %>" class="panel-collapse collapse">
                <div class="panel-body">
                    <%= text_field :ensembl, :gene_id, maxlength: EnsemblGene::MAX_LENGTH_GENEID, class: "form-control", data: {valid: EnsemblGene::FORMAT_GENEID_WEB, provide: "typeahead"}, autocomplete: "off" %>
                    <small class="form-text text-muted">Input a human Ensembl gene ID, starting with "ENSG" followed by a series of digits, e.g. ENSG00000254647</small>
                </div>
            </div>
        </div>
    </div>

    <div id="multigene-info-container-<%= id %>"></div>
    <div class="form-group" id="multigene-options-<%= id %>"></div>
<% end %>