<% valid_extensions = (
    ToGene::GenebankToGene.valid_file_extensions +
    ToGene::FastaToGene.valid_file_extensions
    ).join(",")

    id = html_compatible_enhancer_name(resource_name)
    legend =
        if is_input_resource_via_ensembl(resource_name)
            "Please enter or upload a sequence, or provide a gene ID."
        else
            "Please enter or upload a sequence."
        end

    maxlength_textinput = 2000
%>

<%= form_for Enhancer.new, remote: true, html: { style: "display:inline;", role: "form", :multipart => true } do |f| %>

    <div class="row">
        <div class="col-sm-10">
            <legend class="text-primary"><%= legend %></legend>
        </div>
        <div class="col-sm-2">
            <div class="pull-right control-group">
                <%= f.submit "Save", class: "btn btn-primary btn-xs", title: "Save data", data: {toggle: "tooltip"}, disabled: true %>
                <%= f.submit "Reset", class: "btn btn-primary btn-xs", title: "Delete data", data: {toggle: "tooltip"}, disabled: true %>
            </div>
        </div>
    </div>

    <div id="error-alert-<%= id %>" class="alert alert-danger" role="alert" style="display: none;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span id="error-alert-text-<%= id %>"></span>
    </div>
    <div id="success-alert-<%= id %>" class="alert alert-success" role="alert" style="display: none;">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        Successfully read <%= resource_name %> sequence.
    </div>


    <%= f.hidden_field :name, value: resource_name %>
    <%= f.hidden_field :commit, value: "" %>

    <div class="panel-group" id="accordion-<%= id %>">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <!-- Initialize title and glyphicon for an expanded element -->
                    <a data-toggle="collapse" data-parent="#accordion-<%= id %>" href="#textarea-<%= id %>"><span data-toggle="tooltip" title="Click to collapse">Enter Genebank or FASTA sequence <span class="glyphicon glyphicon-collapse-up"></span> </span></a>
                </h4>
            </div>
            <div id="textarea-<%= id %>" class="panel-collapse collapse in">
                <div class="panel-body">
                    <!-- omit div.form-group for optimal spacing in collapsible -->
                    <%= f.text_area :data, rows: 8, class: "form-control monospaced", placeholder: "Enter sequence", maxlength: maxlength_textinput %>
                    <small class="form-text text-muted">Complete Genebank or FASTA entries of maximum <%= number_with_delimiter(maxlength_textinput) %> characters. FASTA entries must specify exons in upper case and introns in lower case. Sample FASTA input:
                    <br>>gba
                    <br>ATGGAGCTGAGTATGGGGCCCATCCAGGCTAATCACACGGGCACAGgtaac ...
                    <br><br>
                    (Data larger than <%= number_with_delimiter(maxlength_textinput) %> characters has to be uploaded using the file upload menu below. )
                    </small>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <!-- Initialize title and glyphicon for a collapsed element -->
                    <!-- When changing title-text: adjust in .js -->
                    <a data-toggle="collapse" data-parent="#accordion-<%= id %>" href="#fileinput-<%= id %>"><span data-toggle="tooltip" title="Click to expand">Or, upload Genebank or FASTA file <span class="glyphicon glyphicon-collapse-down"></span></span></a>
                </h4>
            </div>
            <div id="fileinput-<%= id %>" class="panel-collapse collapse">
              <div class="panel-body">
                    <%= f.file_field :file, accept: valid_extensions %>
              </div>
            </div>
        </div>

        <% if is_input_resource_via_ensembl(resource_name) %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <!-- Initialize title and glyphicon for a collapsed element -->
                        <a data-toggle="collapse" data-parent="#accordion-<%= id %>" href="#textinput-<%= id %>"><span data-toggle="tooltip" title="Click to expand">Or, enter Ensembl gene ID <span class="glyphicon glyphicon-collapse-down"></span></span></a>
                    </h4>
                </div>
                <div id="textinput-<%= id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                    <!-- add div.form-group-validation for jquery validation -->
                        <div class="form-group-validation">
                            <%= text_field :ensembl, :gene_id, maxlength: EnsemblGene::MAX_LENGTH_GENEID, class: "form-control", data: {valid: EnsemblGene::FORMAT_GENEID_WEB, provide: "typeahead"}, autocomplete: "off" %>
                            <small class="form-text text-muted">Input a human Ensembl gene ID, starting with "ENSG" followed by a series of digits, e.g. ENSG00000254647</small>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <div id="multigene-info-container-<%= id %>"></div>
    <div class="form-group" id="multigene-options-<%= id %>"></div>
<% end %>