<%= content_tag(:h4, "General considerations") %>
<div class="checkbox">
    <%= f.check_box :keep_first_intron, {checked: true, disabled: true, class: "params-form"}, "true", "false" %>
    <%= f.label :keep_first_intron, "Keep first intron" %>
</div>

<%= content_tag(:h4, "Strategy") %>
<div class="radio">
    <%= f.radio_button :strategy, 'gc', {disabled: true, class: "params-form"} %>
    <%= f.label :strategy_gc, content_tag(:strong, 'gc') + ' - Match GC content of 1- or 2-exon genes.' %>
</div>
<div class="radio">
    <%= f.radio_button :strategy, 'humanize', {:checked => true, disabled: true, class: "params-form"} %>
    <%= f.label :strategy_humanize, content_tag(:strong, 'humanize') + ' - Match human codon usage' %>
</div>
<div class="radio">
    <%= f.radio_button :strategy, 'raw', {disabled: true, class: "params-form"} %>
    <%= f.label :strategy_raw, content_tag(:strong, 'raw') +  ' - Leave the sequence as is.' %>
</div>