<dl>
    <% id =
        case enhancer.name
        when "5'UTR" then "five"
        when "CDS" then "cds"
        when "3'UTR" then "three"
        end
    %>
    <dt>
        <%= enhancer.name %>
    </dt>
    <dd>
        <div class="well well-sm clearfix">
            <%=
                if enhancer.data.blank?
                    content_tag(:i, "Not specified.", class: "text-muted")
                else
                    teaser = truncate(enhancer.data, length: 80)
                    content_tag(:code, teaser, class: "text-muted")
                end
            %>
            <button type="button" id="view-button-<%= id %>" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#view-modal-<%= id %>" title="View data">
                <span class="glyphicon glyphicon-search"></span> View
            </button>
            <div id="view-modal-<%= id %>" class="modal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"> <%= enhancer.name %> </h4>
                        </div>
                        <div class="modal-body">
                            <pre class="text-muted input-view-text"><%= enhancer.data %></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dd>
</dl>