<%
id = html_compatible_enhancer_name(enhancer.name)
if enhancer.data.blank?
    data = "Not specified."
    teaser_tag = content_tag(:em, data, class: "text-muted")
else
    data = word_wrap_breaking_single_word(enhancer.data, 80)
    firstline = teaser_wrapped_single_word_with_ellipsis(data)
    teaser_tag = content_tag(:span, firstline, class: "text-muted monospaced")
end
%>
<dl>
    <dt>
        <%= enhancer.name %>
    </dt>
    <dd>
        <div class="well well-sm clearfix">
            <%= teaser_tag %>
            <span data-toggle="modal" data-target="#view-modal-<%= id %>">
                <button type="button" id="view-button-<%= id %>" class="btn btn-primary btn-xs pull-right" data-toggle="tooltip" title="View data" disabled="disabled">
                    <span class="glyphicon glyphicon-search"></span> View
                </button>
            </span>
            <div id="view-modal-<%= id %>" class="modal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"> <%= enhancer.name %> </h4>
                        </div>
                        <div class="modal-body">
                            <pre class="text-muted input-view-text"><%= data %></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dd>
</dl>