<h1>Enhance transgenes</h1>
    <p>
        Transgenes typically have all, or all but the first, intron removed.
        Still, splicing at cryptic splice sites occurs. This is linked to remnant exonic splice enhancer motifs.
        Removing these motifs alongside with other unwanted functionality will thus improve transgene efficiency.
    </p>

<h3>Enter your sequence</h3>
    <div id="warning-alert-all-input" class="alert alert-warning" role="alert" style="display: none;">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <span class="sr-only">Info:</span>
        <span id="warning-alert-text-all-input"></span>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <ul class="nav nav-pills nav-stacked" data-tabs="tabs">
                    <li><a href="#input-tab-five" data-toggle="pill">Enter 5'UTR</a></li>
                    <li class="active"><a href="#input-tab-cds" data-toggle="pill">Enter CDS</a></li>
                    <li><a href="#input-tab-three" data-toggle="pill">Enter 3'UTR</a></li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="tab-content">
                        <div class="tab-pane active" id="input-tab-cds">
                            <%= render partial: "enhancers/index/enhancer_form", locals: {resource_name: "CDS"} %>
                        </div>
                        <div class="tab-pane" id="input-tab-five">
                            <%= render partial: "enhancers/index/enhancer_form", locals: {resource_name: "5'UTR"} %>
                        </div>
                        <div class="tab-pane" id="input-tab-three">
                            <%= render partial: "enhancers/index/enhancer_form", locals: {resource_name: "3'UTR"} %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="input-tab-ese">
    <%= form_for Ese.new, :url => {action: "create_ese"}, remote: true, html: { style: "display:inline;", role: "form", multipart: true } do |f| %>
        <h3>Enter ESE motifs
            <small> Optional</small>
            <small id="unsaved-data-ese" class="bg-success" style="display: none;">
                Please click "Save" when done with your motif input.
            </small>
            <div class="pull-right control-group">
                <%# Use f.button instead of f.submit to change button-text later on%>
                <%= f.button "", value: "Save", type: "submit", class: "btn btn-primary btn-outline btn-xs", title: "Save ESE data", data: {toggle: "tooltip"}, disabled: true do %>
                    Save
                <% end %>
                <%= f.submit "Reset", class: "btn btn-primary btn-outline btn-xs", title: "Delete ESE data", data: {toggle: "tooltip"}, disabled: true %>
            </div>
        </h3>
            <%= render partial: "enhancers/index/ese_form", locals: {f: f} %>
    <% end %>
</div>

<h3>Enter restriction sites<small> Optional</small></h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <ul class="nav nav-pills nav-stacked" data-tabs="tabs">
                    <li class="active"><a href="#input-tab-sites-keep" data-toggle="pill">Sites to be kept intact</a></li>
                    <li><a href="#input-tab-sites-avoid" data-toggle="pill">Sites to avoid introducing</a></li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="tab-content">
                        <div class="tab-pane active" id="input-tab-sites-keep">
                            <%= render partial: "enhancers/index/restriction_enzyme_form", locals: {resource_name: "keep"} %>
                        </div>
                        <div class="tab-pane" id="input-tab-sites-avoid">
                            <%= render partial: "enhancers/index/restriction_enzyme_form", locals: {resource_name: "avoid"} %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<h3>Select parameters <small class="params-inactive">Please provide a valid CDS sequence first</small></h3>
    <!-- open submit form -->
    <%= form_for EnhancedGene.new, :url => {:action => "submit"}, html: { style: "display:inline;", role: "form" } do |submit_form| %>
        <%= render partial: "enhancers/index/params_form_fields", locals: {f: submit_form} %>

<h3>Submit your job <small class="params-inactive">Please provide a valid CDS sequence first</small></h3>
    <!-- close the submit-form -->
        <%= render partial: "enhancers/index/params_form_submit", locals: {f: submit_form} %>
    <% end %>
