<h1>Enhance transgenes</h1>
    <p>
        Transgenes typically have all, or all but the first, intron removed.
        Still, splicing at cryptic splice sites occurs. This is linked to remnant exonic splice enhancer motifs.
        Removing these motifs alongside with other unwanted functionality will thus improve transgene efficiency.
        <%= link_to("Find out more.", about_path, :target => "_blank") %>
    </p>

<h3>Enter your sequence</h3>
    <div id="warning-alert-all-input" class="alert alert-warning" role="alert" style="display: none;">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <span class="sr-only">Info:</span>
        <span id="warning-alert-text-all-input"></span>
    </div>
    <ul class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#input-tab-cds" data-toggle="tab">CDS</a></li>
        <li><a href="#input-tab-five" data-toggle="tab">5'UTR</a></li>
        <li><a href="#input-tab-three" data-toggle="tab">3'UTR</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="input-tab-cds">
            <%= render partial: "enhancers/index/enhancer_form", locals: {resource_name: "CDS"} %>
        </div>
        <div class="tab-pane" id="input-tab-five">
            <%= render partial: "enhancers/index/enhancer_form", locals: {resource_name: "5'UTR"} %>
        </div>
        <div class="tab-pane" id="input-tab-three">
            <%= render partial: "enhancers/index/enhancer_form", locals: {resource_name: "3'UTR"} %>
        </div>
    </div>

<div id="input-tab-ese">
    <%= form_for Ese.new, :url => {action: "create_ese"}, remote: true, html: { style: "display:inline;", role: "form", multipart: true } do |f| %>
        <h3>Enter ESE motifs
            <small> Optional</small>
            <div class="pull-right control-group">
                <%= f.submit "Save", class: "btn btn-primary btn-xs", title: "Save ESE data", data: {toggle: "tooltip"}, disabled: true %>
                <%= f.submit "Reset", class: "btn btn-primary btn-xs", title: "Delete ESE data", data: {toggle: "tooltip"}, disabled: true %>
            </div>
        </h3>
            <%= render partial: "enhancers/index/ese_form", locals: {f: f} %>
    <% end %>
</div>

<h3>Select parameters <small class="params-inactive">Please provide a valid CDS sequence first</small></h3>
    <!-- open submit form -->
    <%= form_for EnhancedGene.new, :url => {:action => "submit"}, html: { style: "display:inline;", role: "form" } do |submit_form| %>
        <%= render partial: "enhancers/index/params_form_fields", locals: {f: submit_form} %>

<h3>Submit your job <small class="params-inactive">Please provide a valid CDS sequence first</small></h3>
    <!-- close the submit-form -->
        <%= render partial: "enhancers/index/params_form_submit", locals: {f: submit_form} %>
    <% end %>
