

<dl>
    <dt>
        <%= @enhanced_gene.gene_name %>
    </dt>
    <dd>
        <div class="well well-sm clearfix">
            <%= content_tag(:span, @enhanced_gene.data, class: "text-muted monospaced") %>
        </div>
    </dd>
    <dt>
        Log
    </dt>
    <dd>
        <div class="well well-sm clearfix">
            <%= content_tag(:span,
                teaser_wrapped_single_word_with_ellipsis(@enhanced_gene.log),
                class: "text-muted monospaced"
            ) %>
            <span data-toggle="modal" data-target="#submit-modal">
                <button type="button" id="submit-modal-button" class="btn btn-primary btn-xs pull-right" data-toggle="tooltip" title="View data">
                    <span class="glyphicon glyphicon-search"></span> View
                </button>
            </span>
            <div id="submit-modal" class="modal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Log content</h4>
                        </div>
                        <div class="modal-body">
                            <pre class="text-muted input-view-text"><%= @enhanced_gene.log %></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dd>
    <dt>Downloads</dt>
    <dl>
        <%= link_to "Download enhanced gene (as FASTA file).", download_enhancers_path(fasta: true) %>
        <br>
        <%= link_to "Download log file.", download_enhancers_path%>
    </dl>
</dl>
<!-- TODO: submit form via ajax to stay on same page... -->