<h1>Results</h1>
<legend class="text-primary">Enhanced Gene</legend>
    <div class="well well-sm clearfix">
        <%= content_tag(:span,
            patch_multiline_text_for_web(
                @enhanced_gene.to_fasta(split_seq_at_80_chars=false)
            ),
            class: "text-muted monospaced text-wrap"
        ) %>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <legend class="text-primary">GC3 content of all generated variants</legend>
            <canvas id="gc3Plot"></canvas>
        </div>
        <div class="col-sm-6">
            <legend class="text-primary">Downloads</legend>
            <%= link_to "Download enhanced gene (as FASTA file).", download_enhancers_path(fasta: true) %>
            <br>
            <%= link_to "Download log file.", download_enhancers_path%>
        </div>
    </div>
</div>

<%
    points = @gc3_across_synonymous_variants
    labels = (1..points.size).to_a
%>
<script>
    var ctx = $("#gc3Plot");
    var scatterChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: <%= raw labels %>,
            datasets: [{ data: <%= raw points %>}]
        },
        options: chartOptions
    });
</script>
<!-- TODO: submit form via ajax to stay on same page... -->