<h1>Results</h1>
<legend class="text-primary">Enhanced Gene</legend>
    <div class="well well-sm clearfix">
        <%= content_tag(:span,
            patch_multiline_text_for_web(
                @enhanced_gene.to_fasta(split_seq_at_80_chars=false)
            ),
            class: "text-muted monospaced text-wrap"
        ) %>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <legend class="text-primary">GC3 content of all generated gene variants</legend>
            <canvas id="gc3Plot"></canvas>
        </div>
        <div class="col-sm-6">
            <legend class="text-primary">Downloads</legend>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-download"></i>
                    <%= link_to "Enhanced gene", download_enhancers_path(kind: "enhanced_gene"), data: {turbolinks: false} %>
                </li>
                <li><i class="fa-li fa fa-download"></i>
                    <%= link_to "Generated gene variants", download_enhancers_path(kind: "gene_variants"), data: {turbolinks: false} %>
                </li>
                <li><i class="fa-li fa fa-download"></i>
                    <%= link_to "Log file", download_enhancers_path, data: {turbolinks: false} %>
                </li>
            </ul>
        </div>
    </div>
</div>

<%
    points = @enhanced_gene.gc3_over_all_gene_variants
    labels = (1..points.size).to_a
%>
<script>
    var ctx = $("#gc3Plot");
    var scatterChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: <%= raw labels %>,
            datasets: [{ data: <%= raw points %>}]
        },
        options: chartOptions
    });
</script>
<!-- TODO: submit form via ajax to stay on same page... -->