<h1>Help</h1>
<p>
    Transgenes typically have all, or all but the first, intron removed. Still, splicing at cryptic splice sites occurs. This is linked to remnant exonic splice enhancer motifs. Removing these motifs alongside with other unwanted functionality will thus improve transgene efficiency.
</p>
<h3>How it works</h3>
<h4>Generating variants and selecting the best</h4>
<p>
    The <%= @archive.camelize %> software will generate 1,000 gene variants and select the best by its GC3 content. By default, target GC3 content will be the average GC3 in human one- or two-exon genes (option <abbr title="selection">mean</abbr>). Alternatively, you may set target GC3 to <abbr title="selection">high</abbr> or <abbr title="selection">low</abbr> selecting for highest or lowest GC3 found among generated variants.
    <div class="row">
        <div class="col-md-7">
            <div class="well">
                <img src="/images/gc3-selection.png" class="img-responsive" alt="Select target GC3">
            </div>
        </div>
    </div>
</p>
<h4>Removing introns determines which sites are checked for ESE resemblance</h4>
<p>
    The first step when generating the gene variants is to remove all introns but the first, or, if requested all introns including the first. This is to determine exonic sites in vicinity to now deleted introns. ESE resemblance will be adjusted at those sites only and at no other position in the gene.
    <div class="row">
        <div class="col-md-7">
            <div class="well">
                <img src="/images/intron-selection.png" class="img-responsive" alt="Remove introns">
            </div>
        </div>
    </div>
</p>
<p>
    Per default ESE motifs will be depleted (option <abbr title="selection">deplete</abbr>), select option <abbr title="enrich">enrich</abbr> to enrich them instead.
    <div class="row">
        <div class="col-md-7">
            <div class="well">
                <img src="/images/ese-selection.png" class="img-responsive" alt="Select ESE resemblance">
            </div>
        </div>
    </div>
</p>
<h4>Scoring synonymous codons</h4>
<p>
    For each site, synonymous codons are assigned a score and selected with a probability equaling its score. Scores are assigned based on how well the codon matches human codon usage (option <abbr title="selection">humanize</abbr>; default), alternative strategies include maximizing GC3 content (option <abbr title="selection">max-gc</abbr>) and matching the position-dependent GC3 content of human one- or two-exon genes (option <abbr title="selection">gc</abbr>). Should ESE motifs have been provided, a strategy to score by ESE resemblance only may also be chosen (<i>please note:</i> this will affect only sites near deleted introns, at all other sites the sequence will remain unchanged; option <abbr title="selection">raw</abbr>).
    <div class="row">
        <div class="col-md-7">
            <div class="well">
                <img src="/images/strategy-selection.png" class="img-responsive" alt="Select scoring strategy">
            </div>
        </div>
    </div>
</p>
<p>
    At sites in vicinity to deleted introns the codon score is a mixture of strategy-score and ESE resemblance-score. You may chose to adjust ESE resemblance at all sites instead of only at sites near deleted introns. This is not recommended as it is against our current understanding of ESEs, but may prove useful at times, e.g. when tweaking natural one-exon genes.
    <div class="row">
        <div class="col-md-7">
            <div class="well">
                <img src="/images/ese-scoring-selection.png" class="img-responsive" alt="Select ESE scoring strategy">
            </div>
        </div>
    </div>
</p>
<h5>Synonymous codons at 6-fold degenerate sites</h5>
<p>
    At 6-fold degenerate sites (leucine, serine or alanine positions) all six synonymous codons are scored per default. You can specify to restrict codons to those of the respective 2- or 4-codon sub-box instead.
    <div class="row">
        <div class="col-md-7">
            <div class="well">
                <img src="/images/sixfold-selection.png" class="img-responsive" alt="Sixfold degenerate sites">
            </div>
        </div>
    </div>
</p>
<h4>Dealing with restriction sites</h4>
<p>
To preserve restriction sites already present in the sequence, please provide the corresponding recognition sequence(s) in the <abbr title="input">keep intact</abbr> input tab. The <%= @archive.camelize%> software will leave those sites intact when tweaking the gene.
</p>
<p>
Similarly, you may specify recognition sequences that are to be <abbr title="input">avoided</abbr>. <i>Please note:</i> this will not remove restriction sites that are already present in the gene.
</p>
<p>
You may provide sites to keep intact and sites to avoid both combined or individually.
</p>

<h3>Sample data</h3>
<p>
    (Click to inspect different sample input data)
</p>
<div class="row">
    <div class="col-sm-4">
        <ul class="nav nav-pills nav-stacked" data-tabs="tabs">
            <li class="active"><a href="#sample-fasta" data-toggle="pill">Sequence input (FASTA)</a></li>
            <li ><a href="#sample-genbank" data-toggle="pill">Sequence input (Genbank)</a></li>
            <!-- <li ><a href="#sample-ensembl" data-toggle="pill">Sequence input (Ensembl)</a></li> -->
            <li ><a href="#sample-ese" data-toggle="pill">ESE input</a></li>
            <li ><a href="#sample-restriction-enzyme" data-toggle="pill">Restriction enzyme input</a></li>
        </ul>
    </div>
    <div class="col-sm-8">
        <div class="tab-content monospaced text-muted">
            <div class="tab-pane active line-wrap" id="sample-fasta" style="word-break:break-all;">
                <button class="btn btn-primary btn-outline btn-xs pull-right control-panel" title="Copy to clipboard" data-toggle="tooltip" data-sample="sample-fasta-text">Copy</button>
                <%= render partial: "enhancers/sample_input/cds_fasta", locals: {id: "sample-fasta-text", hidden: false} %>
            </div>
            <div class="tab-pane line-wrap" id="sample-genbank" style="white-space: pre-wrap;">
                <button class="btn btn-primary btn-outline btn-xs pull-right control-panel" title="Copy to clipboard" data-toggle="tooltip" data-sample="sample-genbank-text">Copy</button>
                <%= render partial: "enhancers/sample_input/cds_genbank", locals: {id: "sample-genbank-text", hidden: false} %>
            </div>
            <!-- <div class="tab-pane line-wrap" id="sample-ensembl">
                Human Ensembl transcript IDs, <i>e.g.</i><br>
                ENST00000397262
            </div> -->
            <div class="tab-pane line-wrap" id="sample-ese">
                <button class="btn btn-primary btn-outline btn-xs pull-right control-panel" title="Copy to clipboard" data-toggle="tooltip" data-sample="sample-ese-text">Copy</button>
                <%= render partial: "enhancers/sample_input/ese", locals: {id: "sample-ese-text", hidden: false} %>
            </div>
            <div class="tab-pane line-wrap" id="sample-restriction-enzyme">
                <button class="btn btn-primary btn-outline btn-xs pull-right control-panel" title="Copy to clipboard" data-toggle="tooltip" data-sample="sample-restriction-enzyme-text">Copy</button>
                <%= render partial: "enhancers/sample_input/restriction_enzyme", locals: {id: "sample-restriction-enzyme-text", hidden: false} %>
            </div>
    </div>
</div>
