<%= form_for @enhancer, remote: true, html: { style: "display:inline;", role: "form", :multipart => true } do |f| %>
    <div class="field form-group">
        <%= f.hidden_field :name, value: @enhancer.name %>
        <%= f.label :record, "Select a gene record" %>
        <%= f.file_field :record %>
        <%= f.submit "Update", class: "btn btn-primary btn-xs", title: "Update data", data: {toggle: "tooltip"} %>
    </div>
<% end %>