<!DOCTYPE html>
<html>
<head>
  <title>Transgenes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navbar" %>
<div id="main-container" class="container">
    <%= render "layouts/noscript" %>
    <%= yield %>

    <footer class="footer">
        <div class="container text-center">
            <small class="text-muted">
                This app was developed in the <a class="text-muted" target="blank" href="http://people.bath.ac.uk/bssldh/LaurenceDHurst/Home.html">Hurst Lab</a> and is licensed under a <a class="text-muted" target="blank" href="http://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License</a>.
            </small>
        </div>
    </footer>
</div>
</body>
</html>
